<!DOCTYPE html>
<html>
<head>
  <title>Plotter</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="http://underscorejs.ru/underscore-min.js"></script>

  <style>
  body{
    position: relative;
  }
    #container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
  }
  input {
    clear: 'left';
  }
  </style>
</head>
<body>
  <header>
    <a href=""><img src="" alt="" class="logo"></a>
    <nav>
      <ul>
        <li><a href="#">File</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
  </header>
  <div id="app">
    <p>y(x)=</p>
    <textarea v-model="formula" rows="10" cols="45" name="text">{{formula}}</textarea><br>
    <input v-model="start" placeholder="start of x"><br>
    <input v-model="end" placeholder="final of the x"><br>
    <input v-model="step" placeholder="step of the x"><br>
    <input v-model="nameX" placeholder="name of the x axis"><br>
    <input v-model="nameY" placeholder="name of the y axis"><br>
    <input v-model="min" placeholder="min value of the y axis"><br>
    <input v-model="max" placeholder="max value of the y axis"><br>
    <button v-on:click="f()">Plot</button><br>
    <div id="container"></div>
  </div>
  <footer>
    <p>RaymondProduction © 2018</p>
  </footer>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
